In [2]:
import pandas as pd

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
data = {
    'items':['Shirt','phant','jeans','T-shirt','swaet t-shirt'],
    'color':['black','blue','green','red','grey'],
    'size':['Medium','large','small','Medium','large']
}

In [6]:
df= pd.DataFrame(data)
df

           items  color    size
0          Shirt  black  Medium
1          phant   blue   large
2          jeans  green   small
3        T-shirt    red  Medium
4  swaet t-shirt   grey   large

In [7]:
encoder = LabelEncoder()

In [8]:
df["encoded_size"]= encoder.fit_transform(df['size'])
df

           items  color    size  encoded_size
0          Shirt  black  Medium             0
1          phant   blue   large             1
2          jeans  green   small             2
3        T-shirt    red  Medium             0
4  swaet t-shirt   grey   large             1