In [9]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
data ={
    'Fruits':['apple','banana','orange','grape','lemon'],
    'Colors':['Red','Yellow','Orange','Purple','Yellow']
}

In [13]:
df = pd.DataFrame(data)
df

   Fruits  Colors
0   apple     Red
1  banana  Yellow
2  orange  Orange
3   grape  Purple
4   lemon  Yellow

In [4]:
encoder = OneHotEncoder()

In [10]:
encoded_colors = encoder.fit_transform(df[['Colors']]).toarray()

In [11]:
encoded_df = pd.DataFrame(encoded_colors,columns=encoder.get_feature_names_out(['Colors']))

In [12]:
encoded_df

   Colors_Orange  Colors_Purple  Colors_Red  Colors_Yellow
0            0.0            0.0         1.0            0.0
1            0.0            0.0         0.0            1.0
2            1.0            0.0         0.0            0.0
3            0.0            1.0         0.0            0.0
4            0.0            0.0         0.0            1.0

In [16]:
df_encoded = pd.concat([df,encoded_df],axis = 1)
df_encoded

   Fruits  Colors  Colors_Orange  Colors_Purple  Colors_Red  Colors_Yellow
0   apple     Red            0.0            0.0         1.0            0.0
1  banana  Yellow            0.0            0.0         0.0            1.0
2  orange  Orange            1.0            0.0         0.0            0.0
3   grape  Purple            0.0            1.0         0.0            0.0
4   lemon  Yellow            0.0            0.0         0.0            1.0